<!DOCTYPE html>
<html>
<head>
<style>
body {
    background-color: #FFFFFF;
    width: 1920px;
    height: 1080px;
}

h1 {
    font-family: 'Sumana', serif;
    font-size:60px;
    position:relative;
    top: -50px;
    left: 300px;
}

img {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 60px;
    top: 45px;
}

#sidebar {
    position: absolute;
    height: 698px;
    width: 140px;
    left: 0px;
    top: 200px;
    text-align: center;
    padding: 30px;
    background-color: #F4F4F4;
}

#TIMERtext {
    height: 111px;
    width: 140px;
    left: 0px;
    top: 160px;
    font-family: 'Proza Libre', sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: #F4F4F4;
}

#SETTINGStext {
    height: 111px;
    width: 140px;
    left: 0px;
    top: 271px;
    font-family: 'Proza Libre', sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: #F4F4F4;
}
