<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/fullScreenDesign.css">
    <link href="https://fonts.googleapis.com/css2?family=Proza+Libre&family=Sumana&display=swap" rel="stylesheet">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sesh.</title>
</head>
<body>
     <div id="seshButton">
        <input type="button" onclick="location.href='../templates/landing.html';" value = "sesh."/>

        </div>
    <div id="clock">
        <script src="../static/clockScript.js"></script>
    </div>
    <div id="AMPM">
        <script src="../static/clockScript.js"></script>
    </div>

</body>
</html>