<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Proza+Libre&family=Sumana&display=swap" rel="stylesheet">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sesh.</title>
</head>
<body>
    <img src="noun_clock_20198101.png">
    <div id="timer container">
    <h1 id="title">sesh.</h1>
    </div>

    <div id="sidebar">
        <div id="TIMERtext"><h3>TIMER</h3></div>
        <div id="SETTINGStext"><h3>SETTINGS</h3></div>
    </div>
