<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/landingDesign.css">
    <link href="https://fonts.googleapis.com/css2?family=Proza+Libre&family=Sumana&display=swap" rel="stylesheet">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sesh.</title>
</head>
<body>
    <img id="clockpic" src="noun_clock_20198101.png">
    <p id="title">sesh.</p>
    <div id="clockContainer">
        <img id="fspic" src="fullscreenthingy.png" style="width:3em; height:3em;"/>
        <div id="clock">
            <script src="../static/clockScript.js"></script>
        </div>
        <div id="AMPM">
            <script src="../static/clockScript.js"></script>
        </div>
    </div>

    <div id="sidebar">
        <div id="TIMERbutton">
        <input type="button" onclick="location.href='../templates/noun_clock_20198101.png';" value = "TIMER"/>

        </div>
        <div id="SETTINGSbutton">
        <input type="button" onclick="location.href='../templates/noun_clock_20198101.png';" value = "SETTINGS"/>

        </div>

    </div>
</body>
</html>