<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="settings.css">
    <link href="https://fonts.googleapis.com/css2?family=Proza+Libre&family=Sumana&display=swap" rel="stylesheet">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>sesh.</title>
</head>
<body>
    
    <!-- Side navigation -->
    <div class="sidenav">
        <a id="logo" href="landing.html"><img src="noun_clock_20198101.png"></a>
        <a href="timer.html">TIMER</a>
        <a href="settlings.html">SETTINGS</a>
    </div>
    
    <div class="main">
        <h1 class="title">settings.</h1>
        <div class="settings-input">
            <label for="sesh-duration">focus sesh duration</label>
            <select name="sesh-duration" id="sesh-duration">
                <option value="10">10 minutes</option>
                <option value="25">15 minutes</option>
                <option value="55">30 minutes</option>
                <option value="85">1 hour 30 min</option>
                <option value="115">1 hour 55 min</option>
            </select>
            <br>
            <label for="long-break-duration">long break duration</label>
            <select name="long-break-duration" id="long-break-duration">
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
                <option value="25">25 minutes</option>
                <option value="30">30 minutes</option>
            </select>
            <br>
            <label for="short-break-duration">short break duration</label>
            <select name="short-break-duration" id="short-break-duration">
                <option value="3">3 minutes</option>
                <option value="5">5 minutes</option>
                <option value="10">10 minutes</option>
                <option value="15">15 minutes</option>
                <option value="20">20 minutes</option>
            </select>
        </div>

        <p class="foot-note">MADE WITH LOVE BY TWO FIRST TIME HACKERS AND A CERTIFIED DUMBASS &hearts;</p>
    </div>