<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/timer.css">
    <link href="https://fonts.googleapis.com/css2?family=Proza+Libre&family=Sumana&display=swap" rel="stylesheet">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>timer.</title>
</head>
<body>


    <div id="clockback">
    <a href="landing.html">
    <img id="clock" src="noun_clock_20198101.png">
    </a>
    </div>


    <button id="longbreak" type="button">long break</button>
    <button id="shortbreak" type="button">short break</button>
    <button id="focussesh" type="button">focus sesh.</button>

    <p id="title">timer.</p>

    <div id="timerDisplay">
        <script src="../static/timerattempt.js"></script>
    </div>


    <div id="sidebar">
        <div id="TIMERbutton">
        <input type="button" onclick="location.href='../templates/timer.html';" value = "RESET"/>

        </div>
        <div id="SETTINGSbutton">
        <input type="button" onclick="location.href='../templates/settings.html';" value = "SETTINGS"/>

        </div>
    </div>


    <script type="text/javascript" src="../static/timerattempt.js"></script>

</body>


</html>